.header_top-bar{
	vertical-align: middle;
}
.header_top-list{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.header_top-list-item{
	height: 49.58px;
}
.header_top-list-item-input{
	background-color: black;
	width: 230px;
	border: none;
	padding: 0.3rem;
	border-radius: 3px;
	color: white;
}
.header_top-list-item-cart{
	background-color: #f66249;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 14px;
}
.header_top-list-item-cart:hover {
	background: #f43818;
	text-decoration: none;
}
.header_top-list-item-acc{
	cursor: pointer;
	font-size: 14px;
}
.header_top-list-item-acc:hover{
	color: #f66249;
}
.header_top-list-item-search-list{
	margin-top: 0.5rem;
	color: black;
	width: 92%;
	display: none;
}
.header_top-list-item-input:focus ~ .header_top-list-item-search-list{
	display: block;
}
/*Body Navagation */
.body_navigation-top{
	border-top: 1px solid gray;
}
.navbar-light .navbar-nav .nav-link {
	color: white;
	font-weight: 600;
	font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:focus{
	color:#f66249;
	opacity: 1;
}
.navbar-light .navbar-nav .nav-link:hover {
	color:#d63b1c;
	opacity:1;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color:#f66249;
}
.navbar {
	padding: .5rem 0;
}
.svg{
	color: red;
	width: 20px;
	height: 20px;
	margin-top: -0.4rem;
}
.navbar-toggler {
	padding: 0rem;
}
/*Slide Body*/
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.body_slider{
	position: relative;
}
.body_slider-content{
	position: absolute;
	top:55%;
	right: 7%;
	color: white;
}
.body_slider-content-span{
	font-size: 70px;
	font-weight: 700;
	font-style: italic;
	font-family: Palatino;
}
.body_slider-content-span-2{
	font-size: 23px;
	font-weight: 700;
	margin-top: 1.5rem;
	margin-left: 1rem;
	font-family: Palatino;
}
.body_slider-content-div-span{
	display: flex;
}
.body_slider-content-buttons{
	background-color: #f66249;
	color: white;
	border: 3px solid #f66249;
	font-weight: 600;
	padding: 0.3rem 0.5rem;
	border-radius: 3px;
}
.body_slider-content-buttons:hover{
	background: radial-gradient( #ed4609, #ed4609);
	border-color: #ed4609;
}
/*Slider bar */
.body_slider-bar-list{
	padding: 0;
	list-style-type: none;
	padding: 1.5rem 0;
}
.body_slider-bar-item{
	display: flex;
	padding: 0.5rem 0;
}
.body_slider-bar-item-svg{
	width: 20px;
	height: 20px;
	color: white;
	margin-left: 0.5rem;
}
.body_slider-bar-item-content{
	margin-left: 0.5rem;
	margin-top: -0.7rem;
	padding-top: 0.2rem;
	line-height: 1;
}
.body_slider-bar-item-content-one{
	display: block;
	font-weight: 600;
	color: white;
}
.body_slider-bar-item-content-two{
	font-size: 14px;
	color: white;
}
/* Body- product- top*/
.body_product-top{
	padding-bottom: 5rem;
}
.body_product-top-mobile{
	display: none;
}
.body_product-top-content {
	position: relative;
}
}
.body_product-top-content-span{
	font-weight: 700;
	font-size: 18px;
}
.body_product-top-content-span:before{
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 40px;
	height: 4px;
	content: '';
	display: block;
	background: #f66249;
}
.body_product-top-content-mobile{
	position: relative;
	margin-bottom: 1.5rem;
}


.body_product-top-list{
	padding: 0;
	list-style-type: none;
	margin-top: 1.5rem;
}
.body_product-top-item{

}
.body_product-top-item-end{
	padding: 0;
	position: relative;
	box-shadow: 20px 20px 25px 0px black;
	border-radius: 5px;
	overflow: hidden;
}
.body_product-top-item-end-img:hover{
	opacity: 1;
}
.body_product-top-item-end-img{
	background-size: cover;
	padding-bottom: 172%;
	background-repeat: no-repeat;
	opacity: 0.3;
}
.body_product-top-item-end-img-content{
	position: absolute;
	top: 40%;
	left: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(240%);
	transition: linear 0.3s;
}
.body_product-top-item-end-img-content-span1{
	text-align: center;
	font-size: 17px;
	color: white;
	font-weight: 600;
}
.body_product-top-item-end-img-content-span2{
	text-align: center;
	font-size: 30px;
	color: white;
	font-weight: 600;
	margin-left: .3rem;
}
.body_product-top-item-end-img-content-span3{
	text-align: center;
	font-size: 15px;
	color: white;
	font-weight: 600;
}
.body_product-top-item-end-img-content-btn{
	border: 1px solid #f66249;
	background-color: #f66249;
	padding: .4rem 1rem;
	border-radius: 4px;
	font-size: 13px;
	color: white;
	margin-top: .3rem;
	margin-left: .3rem;
}
.body_product-top-item-end-img-content-btn:hover{
	background: #e84610;
}
.body_product-top-item-content{
	display: flex;
	flex-direction: column;
}
.body_product-top-item-content-span1{
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	margin-top: .2rem;
	cursor: pointer;
	color:blue;
}
.body_product-top-item-content-span1:hover{
	color: #e84610;
}
.body_product-top-item-content-span2{
	text-align: center;
	font-weight: 700;
	font-size: 19px;
	margin-top: .3rem;
}
.body_product-top-item-content-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	border: 1px solid #eb7434;
	border-radius: 3px;
	padding: .2rem .3rem;
	margin: 0 auto;
	margin-top: 1rem;
	background: #f66249 ;
	color: white;
	font-weight: 600;
	font-size: 14px;
}
.body_product-top-item-content-btn:hover{
	background:#e84610;
}
.body_product-top-item-content-btn2{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	border: 1px solid #ffab1a;
	border-radius: 3px;
	padding: .2rem .3rem;
	margin: 0 auto;
	margin-top: 1rem;
	background:#ffab1a ;
	color: white;
	font-weight: 600;
	font-size: 14px;
}
.body_product-top-item-content-btn2:hover{
	background:#f43818;
}
.body_product-top-item-content-btn-svg{
	width: 16px;
	color: white;
	margin-right: .3rem;
}
.body_product-top-item-img{
	position: relative;
	overflow: hidden;
	height: 78%;
}
.body_product-top-item-img-hover:hover{
	position: absolute;
	transform: scale(1.2);
	transition: all ease 1s;
}

/*Body_product-all*/
.body_product-middle{

}
.body_product-middle-all{
	padding: 0;
}
.body_product-middle-all-list{
}
.body_product-middle-all-list-content-top{
	font-weight: 700;
	margin-left: 1.5rem;
}
.body_product-middle-all-list-content-top:before{
	position: absolute;
	top: 32px;
	left: 40px;
	width: 40px;
	height: 4px;
	content: '';
	display: block;
	background: #99ca45;
}
.body_product-middle-all-item{
	display: flex;
	justify-content: space-around;
	padding: 2.3rem 0;
}
.body_product-middle-all-item-content{
	display: flex;
	flex-direction: column;
	z-index: 100;
	background: white;
	height: 98px;
}
.items-hover{
	width: 120px;
	height: 98px;
	background-color: black;
	opacity: .7;
	position: absolute;
	transform: translateX(75%);
	transition: all linear 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.body_product-middle-all-item-content-span1{
	text-align: center;
	font-family:Tahoma;
	cursor: pointer;
}
.body_product-middle-all-item-content-span1:hover{
	color: #f66249;
}
.body_product-middle-all-item-content-span2{
	text-align: center;
	font-family:Tahoma;
	font-weight: 700;
}
.body_product-middle-all-item-content-btn{
	border: 1px solid #99ca45;
	background-color: #99ca45;
	padding: .7rem .5rem ;
	border-radius:5px;
	color:white;
	font-size:14px;
	margin-top: .3rem;
}
.body_product-middle-all-item-content-btn:hover{
	background-color:  #7eab31;
}
.body_product-middle-all-item-content-btn2{
	border: 1px solid #263585;
	background-color: #263585;
	padding: .7rem .5rem ;
	border-radius:5px;
	color:white;
	font-size:14px;
	margin-top: .3rem;

}
.body_product-middle-all-item-content-btn2:hover{
	background: #1b255d;
}
.body_product-middle-all-item-content-btn3{
	border: 1px solid #252525;
	background-color: #252525;
	padding: .7rem .5rem ;
	border-radius:5px;
	color:white;
	font-size:14px;
	margin-top: .3rem;
}
.body_product-middle-all-item-content-btn3:hover{
	background: #0c0c0c;
}
.body_product-middle-all-list-content-top2{
	font-weight: 700;
	margin-left: 1.5rem;
}
.body_product-middle-all-list-content-top2:before{
	position: absolute;
	top: 32px;
	left: 40px;
	width: 40px;
	height: 4px;
	content: '';
	display: block;
	background: #1b255d;
}
.body_product-middle-all-list-content-top3{
	font-weight: 700;
	margin-left: 1.5rem;
}
.body_product-middle-all-list-content-top3:before{
	position: absolute;
	top: 32px;
	left: 40px;
	width: 40px;
	height: 4px;
	content: '';
	display: block;
	background: #0c0c0c;
}
/*body Blog*/
.body_blog{

}
.body_blog-content{
	font-weight: 700;
	font-size: 17px;
	padding-top: 2rem;
	display: block;
}
.body_blog-content:before{
	position: absolute;
	margin-top: 2.3rem;
	width: 40px;
	height: 4px;
	content: '';
	display: block;
	background: red;
}

.body_blog-list{

}
.body_blog-item{
	display: flex;
	align-items: center;
	padding: 2rem 0;
}
.body_blog-item-month{
	background-color: white;
	padding: .5rem 1.6rem;
	font-size: 20px;
	text-align: center;
	font-family: karla;
}
.body_blog-item-content{
	padding:0 2rem ;
	margin-top: -1.5rem;
}
.body_blog-item-content-span1{
	font-size:19px;
	font-weight: 700;
	cursor: pointer; text-overflow:ellipsis;
}
.body_blog-item-content-span1:hover{
	color:#f66249;
}
.body_blog-item-content-span2{
	display: flex;
	align-items: center;
	margin-top: .4rem;
	cursor: pointer;text-overflow:ellipsis;
}
.body_blog-item-conten-svg{
	width: 15px;
	height: 15px;
}
/*Body end*/
.body_product-top-content-span-end{
	font-weight: 700;
	font-size: 18px;
}
.body_product-top-content-span-end:before{
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 40px;
	height: 4px;
	content: '';
	display: block;
	background: #2279d3;
}
.body_product-top-item-content-btn-end{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	border: 1px solid #2279d3;
	border-radius: 3px;
	padding: .2rem .3rem;
	margin: 0 auto;
	margin-top: 1rem;
	background:#2279d3;
	color: white;
	font-weight: 600;
	font-size: 14px;
}
.body_product-top-item-content-btn-end:hover{
	background-color: #23527c;
}

.footer_content{
	text-align: start;
	position: relative;
}
.footer_content-br:after{
	content: "";
	border-bottom:5px solid white ;
	top:2rem; 
	left: 0;
	position: absolute;
	width: 43px;
}
.footer_meta-list{
	list-style-type: none;
	padding: 0;
	margin-top: 3rem;
}
.footer_content-br{
	color: white;
	font-family: Cursive;
}
.footer_meta-item{
	text-align: start;
}
.footer_meta-item:hover{
	color: #f66249;
	cursor: pointer;
}
.footer_post-list{
	list-style-type: none;
	padding: 0;
	margin-top: 3rem;
}
.footer_post-item-content{
	padding-left: 1rem;
	font-size: 15px;
	font-weight: 600;
}

.footer_post-item{
	text-align: start;
	display: flex;
	margin: 1.5rem 0;
}
.footer_about-text{
	text-align: start;
	margin-top: 2.6rem;
}
.footer_tags{
	margin-top: 2rem;
	position: absolute; 
	left: 14px;
}
.footer_tags-btn{
	margin-top: .5rem;
	background: black;
	color: white;
	border:1px solid white;
	border-radius: 3px;
}
.footer_tags-btn:hover{
	background:#f66249;
}
.footer_content-br:hover{
	color:#f66249;
	text-decoration: none;
}
.footer_meta-item:hover{
	margin-left: 1rem;
	transition: all 0.5s;
}
@media(max-width: 767px){
	.footer_end{
		padding: 0px 1rem;
	}
	.footer_tags{
		
	}
}
/*Mobile*/
@media (max-width:767px){
	.header_top-list{
		float: none;
		width: 100%;
	}
	.header_top-list-item{
		display: block;
		width: 100%;
	}
	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
		position: relative;
		width: 100%;
		padding-right: 0px;
		padding-left: 0px;
	}
	.container-mobile{
		margin-left: -20px;
		margin-right: -20px;
	}
	.header_img-mobile{
		display: block;
		width: 130px;
		margin: 0 auto;
	}
	.header_top-list-item-input:focus ~ .header_top-list-item-search-list{
		display: none;
	}
	.body_slider-content{
		display: none;
	}
	.nav-item-mobile{
		border-top: 1px solid gray;
		padding: 2px;
	}
	.nav-item-mobiles{
		border-top: 1px solid gray;
		margin-top: 1rem;
	}
	.body_navigation-top{
		width: 100%;
		line-height: 1.8;
	}
	.body_slider-bar{
		display: none;
	}
	.body_product-top{
		display: none;
	}
	.body_product-top-mobile{
		display: block;
		margin-top: 2rem;
	}
	.body_product-top-mobile-two{
		display: block;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.body_product-middle-all-list-content-top{
		margin-left: 2.2rem;
	}
	.body_product-middle-all-list-content-top2{
		margin-left: 2.2rem;
	}
	.body_product-middle-all-list-content-top3{
		margin-left: 2.2rem;
	}
	.body_blog-item{
		margin-left: 1rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.body_blog-item-content-span1{
		margin-top: 2rem;
		display: block;
		margin-left: -2rem;
	}
	.body_blog-item-content-span2{
		margin-left: -2rem;
	}
	.body_product-top-mobile{
		padding-bottom: 2rem;
	}
	.body_blog-item-mobile{
		border-bottom: 1px solid #717171;
	}
}


.mySlides {
	display: none
}

/* Slideshow container */
.slideshow-container {
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}



/* The dots/bullets/indicators */
/* Fading animation */
.f {
	animation-name: fade;
	animation-duration: 1.5s;
}


@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

	.prev,
	.next,
	.text {
		font-size: 11px
	}
}
